<h1>My Recent Orders</h1>

<div class="container">
  <h4>Order information</h4>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Order ID</th>
        <th scope="col">Total # of Items</th>
        <th scope="col">Grand Total</th>
        <th scope="col">Shipping Address</th>
        <th scope="col">Order Initially Placed</th>
        <th scope="col">Order Last Updated</th>
        <th scope="col">Order Status</th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <%= render partial: 'order_detail', locals:{order: order} %>
      <% end %>
    </tbody>
  </table>
</div>
