<br><br>
<div class="container">
  <div class="row">
    <div class="col-3">
      <span class="display-5">Order Details</span>
    </div>

    <div class="col-9">
      <%= render partial: 'order_checkout' %>
    </div>
  </div>
</div>
<br><br>

<div class="container">
  <div class="row">
    <div class="col-3">
      <span class="display-5">Coupon Codes</span>
    </div>

    <div class="col-9">
      <%= render partial: 'coupon' %>
    </div>
  </div>
</div>

<br><br>

<div class="container">
  <div class="row">
    <div class="col-3">
      <span class="display-5">Shipping Address</span>
    </div>

    <div class="col-9">
      <%= render partial: 'shipping' %>
    </div>
  </div>
</div>
