<p class='display-4'>Add New Address</p>

<center>
  <%= form_for(@address, url: "/profile/addresses") do |form| %>
    <%= render partial: 'users/address', locals:{ f: form } %>
    <%= form.submit %>
  <% end %>
</center>
